.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color:white
}

.nav-logo {
    font-family: Briem Hand;
    font-size: 2rem;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
    gap: 80px;

}
li.contact {
    border-radius: 50px;
    padding: 10px 40px;
    background: white;
    color: black;
}